[Unit]
Description=Homelab Metrics Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/homelab-agent
ExecStart=/opt/homelab-agent/venv/bin/python /opt/homelab-agent/homelab_agent.py
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/homelab-agent/.env

# hardening (optional)
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
